/* styles.css */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #000000;
    color: #dbe1e9;
    padding: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #dbe1e9;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

.support-btn {
    /* background-color: transparent; */
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    font: inherit;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    /* padding: 5px; */
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 5px;
}

.dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 8px;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    padding: 3px;
}

.dropdown li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown li:hover {
    background-color: #ddd;
}

/* .book:hover{
    background-color: #525961;
} */

.nav-left li a:hover,
.book:hover, .support-btn:hover {
    background-color: #525961;
    border-radius: 2.5px;
}

.header-icon{
    font-size: 20px;
}

.menu{
    display: none;
}


/* 970px */
@media screen and (max-width: 970px) {
    .header-text{
        display: none;
    }
    .header-icon{
        font-size: 25px;
    }
    .container{
        width: 85%;
    }
    .book{
        position: absolute;
        right: 50px;
        top: 18px;
    }
    .support-btn{
        position: absolute;
        right: 40px;
        top: 0;
    }
    .dropdown{
        position: absolute;
        right: 0;
        margin-top: 20px;
    }
}


/* 765px */
@media screen and (max-width: 765px) {
    .header-icon{
        display: none;
    }
    .support-btn{
        display:block;
        font-size: 23px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu{
        display: block;
    }
    .container{
        width: 98%;
    }
    .book{
        right: 20px;
    }
}




/* BODY */
.body-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 60%; */
    height: auto;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 75%;
}

.radio-line{
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: start;
}
.radio-container input{
    width: 20px;
    height: 20px;
}
.radio-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-line{
    display: flex;
    gap: 10px;
    align-items: end;
    margin-top: 15px;
    margin: 20px 5px 20px 5px;
    /* justify-content: center; */
}
.input-line label{
    padding: 5px 0 5px 0;
}
.input-line input{
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.switch{
    font-size: 23px;
    margin-bottom: 5px;
    cursor: pointer;
}
.input-line button{
    font-size: 15px;
    margin-bottom: 8px;
}