/* styles.css */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #000000;
    color: #dbe1e9;
    padding: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #dbe1e9;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

.support-btn {
    /* background-color: transparent; */
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    font: inherit;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    /* padding: 5px; */
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 5px;
}

.dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 8px;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    padding: 3px;
}

.dropdown li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown li:hover {
    background-color: #ddd;
}

/* .book:hover{
    background-color: #525961;
} */

.nav-left li a:hover,
.book:hover, .support-btn:hover {
    background-color: #525961;
    border-radius: 2.5px;
}

.header-icon{
    font-size: 20px;
}


/* 970px */
@media screen and (max-width: 970px) {
    .header-text{
        display: none;
    }
    .header-icon{
        font-size: 25px;
    }
    .container{
        width: 85%;
    }
}


/* 765px */
@media screen and (max-width: 765px) {
    .r-sup{
        display: none;
    }
}




/* BODY */
.body-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 60%; */
    height: auto;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}